header>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

header {
    outline: dashed 4px rgb(48, 45, 45);

}

.mytr {
    font-size: 20px;
    /* text-align: right; */

}

tfoot {
    
    outline: dashed 2px rgb(48, 45, 45);

}

table>thead {
    background-color: rgb(197, 124, 226);
}

tr>th {
    color: aliceblue;

}

tfoot td {
    color: rgb(17, 17, 17);
}